/*page_about*/
.page_about {background: url('../img/page_ques-back.png')no-repeat 50% 0, #fff; padding-top: 145px;padding-bottom: 93px; z-index: 2; position: relative;
    &-top { padding-bottom: 96px;position: relative;}
    &-ttl { font-size: 49px; text-transform: uppercase; padding-top: 6px; letter-spacing: 9px; }
    &-cont { margin-top: 31px; } 
    &-bl { margin-top: 70px; 
        &-ttl { font-size: 24px; font-weight: 700; line-height: 1.3;}
        &-txt { margin-top: 20px; font-size: 18px; line-height: 1.7; 
            p { margin-bottom: 30px; }
        }     
    }  
    &-img { margin-bottom: 30px; 
        &-wp { margin-top: 61px; }
        &.mb { margin-bottom: 36px; }      
    }
    .page_about-txt {
        p { margin-bottom: 40px; }
    }
    &-quote { margin-top: 43px; border-top: 1px solid #e9e9e9; font-size: 24px; text-transform: uppercase; padding-top: 56px; letter-spacing: 6px; background: url('../img/page_about-quote.jpg')no-repeat 100% 100%; margin-bottom: 40px;padding-right: 73px;}
    &-row {margin-bottom: 40px;}
    &-img_container { margin-bottom: 25px; 
        img { display: block; }
        b { text-align: center; display: block; text-transform: uppercase; font-size: 14px; margin-top: 25px; color: #000; }        
    }
    
}
/*page_about*/
@media(max-width: 991px){
    .page_about {padding-bottom: 30px;}
    .page_about-ttl {font-size: 7vw;}
    .page_about-bl {margin-top: 0;}
}