/* font-family: "Geometria"; */
@font-face { font-family: "Geometria"; src: url("../fonts/Geometria/Geometria.eot"); src: url("../fonts/Geometria/Geometria.eot?#iefix") format("embedded-opentype"), url("../fonts/Geometria/Geometria.woff") format("woff"), url("../fonts/Geometria/Geometria.ttf") format("truetype"); font-style: normal; font-weight: normal; }

