/*page_gal*/
.page_gal {background: url('../img/page_ques-back.png')no-repeat 50% 0; padding-top: 145px;padding-bottom: 113px;   
    &-top { padding-bottom: 96px;position: relative;}
    &-ttl { font-size: 49px; text-transform: uppercase; padding-top: 6px; letter-spacing: 9px; }
    &-cont { margin-top: 40px; }
    &-bl { max-width: 570px; margin: 0 auto 40px; position: relative; display:block; 
        &-img { text-align: center; overflow: hidden; border-radius: 6px; display:block; } 
        &-ttl { text-align: center; text-transform: uppercase; font-weight: 500; display:block;width: 100%; color: #fff; font-size: 18px; margin-top: 19px; letter-spacing: 4.5px; line-height: 1.7; position: absolute; top:50%; left: 50%; transform: translate(-50%, -50%);}
    }
}
/*page_gal*/
@media(max-width: 991px){
    .page_gal{
        &-ttl {font-size: 7vw;}
        &-bl { 
            &-ttl { font-size: 3.4vw; }
        }        
    }
}