@charset "utf-8";

@mixin shadow($shadow...) {
	-webkit-box-shadow: $shadow;
	-moz-box-shadow: $shadow;
	box-shadow: $shadow;
}


@mixin trans ($trans) {
	transition:$trans;
	-webkit-transition:$trans;
	-moz-transition:$trans;
	-o-transition:$trans;
	-ms-transition:$trans;
}

@mixin border-radius ($border-radius) {
	border-radius:$border-radius;
	-webkit-border-radius:$border-radius;
	-moz-border-radius:$border-radius;
	-o-border-radius:$border-radius;
	-ms-border-radius:$border-radius;
}

body {font-family: 'Geometria', sans-serif; font-size: 16px;font-weight: 400;background: #fff;color:#0d101f; min-height: 100vh;}

input, button {
    &:focus {box-shadow: none; outline:0;}
}

img { max-width: 100%; height:auto; }

@media(min-width: 1200px){
    .container{max-width: 1200px;}
}
 
/*header*/
header {padding: 14px 0px; position: absolute; width: 100%; top: 0; left: 0; z-index: 3;
    .zi {z-index: 3;position: relative;}
}
.h {
    &-logo { display: block; text-align: center; }
    &-btn { background: none; margin-top: 33px; width: 50px; border: 0; padding: 0; cursor: pointer; height: 29px; position: relative;
        span { background: #0d101f; width: 100%; display: block; height: 3px; margin: 10px 0; border-radius: 1px; 
            &:first-child { margin-top: 0; } 
            &:last-child { margin-bottom: 0; }
        } 
        &.active {
            span { display: none; 
                &:first-child { display: block; margin: 0; position: absolute; top: 50%; transform: translateY(-50%) rotate(45deg); } 
                &:last-child { display: block; margin: 0; position: absolute; top: 50%; transform: translateY(-50%) rotate(-45deg); }   
            } 
        }
    } 
    &-right { text-align: right; margin-top: 21px; } 
    &-phn { display: inline-block; font-size: 24px; color: #000; } 
    &-txt { display: inline-block; font-size: 14px; text-transform: uppercase; color: #b4bc00; letter-spacing: 3px; padding-top: 2px; }
    &-menu { background: #fff; padding-top: 112px; position: absolute; top: 0; left: 0; width: 100%; z-index: 2; display: none; padding-bottom: 64px;
        &.active {display: block;}
        ul { margin: 0; padding: 0; list-style: none; 
            li {
                a { display: block; color: #000; text-transform: uppercase; font-size: 18px; padding: 15px 21px; border-radius: 6px; padding-right: 34px; border: 1px solid #fff; background-image: url('../img/menu-arr.png'); background-repeat: no-repeat; background-position: 92% 50%;
                    &.active { background-color: #ccd500; border: 1px solid #ccd500; } 
                    &:hover { border: 1px solid #ccd500; text-decoration: none;}                
                } 
            } 
        } 
        &-subttl { font-size: 31px; text-transform: uppercase; color: #e0e0e2; padding-top: 211px; line-height: 1.23; letter-spacing: 7px; 
            span { font-size: 24px; letter-spacing: 6px; }
        }  
        &-ttl { font-size: 72px; text-transform: uppercase; color: #e0e0e2; line-height: 1.23; letter-spacing: 21px; }        
        &-lang { padding-right: 14px; margin-top: 221px; 
            a { border: 1px solid #e3eff7; border-radius: 4px; text-align: center; display: block; padding: 10px 14px; text-transform: uppercase; font-size: 14px; letter-spacing: 2px; color: #000;} 
            span { border: 1px solid #dce350; border-radius: 4px; text-align: center; display: block; padding: 10px 14px; text-transform: uppercase; font-size: 14px; letter-spacing: 2px; margin-bottom: 9px; } 
        }        
    }
}

/*header*/
@media(max-width: 1199px) and (min-width: 768px){
    .h {
        &-phn { font-size: 20px; } 
        &-txt { font-size: 10px; } 
        &-menu {
            ul li a { font-size: 12px; } 
            &-ttl { font-size: 25px; } 
            &-subttl { font-size: 20px; 
                span { font-size: 17px; }     
            } 
            &-lang {
                span, a { padding: 10px 6px; font-size: 13px; }
            }
        }
    }

}


@media(max-width: 991px) {
    header { position: fixed; background: #fff; } 
    .h {
        &-right { text-indent: 9999px; width: 50px; height: 50px; float: right; } 
        &-menu { overflow: auto; max-height: calc(100vh - 84px - 28px); position: static; padding: 30px 0; 
            &-subttl { display: none; } 
            &-ttl { display: none; } 
            &-lang { display: none; }
        }
    }
}

.wrapper {
    &.main_page { background: url('../img/main_back.png')no-repeat 50% 0%;}
}

.brcr { display: inline-block; border-radius: 4px; border: 1px solid #dee45c; overflow: hidden; 
    a { display: inline-block; color: #000; text-transform: uppercase; padding: 13px 27px 10px; padding-right: 11px; font-size: 14px; letter-spacing: 4.5px; margin-right: 0px; background: #dee45c; position: relative; 
        &:before { content: ''; width: 0; height: 0; border-top: 22px solid transparent; border-bottom: 22px solid transparent; border-left: 12px solid #dee45c; position: absolute; top: 0; right: -17px; transform: translateX(-50%); }
        &:hover, &:focus {text-decoration: none;color: #fff;}
    } 
    span { display: inline-block; color: #000; text-transform: uppercase; padding: 13px 27px 10px; padding-right: 13px; font-size: 14px; letter-spacing: 4.5px; } 
} 

.lang { padding-right: 14px; position: absolute; top: 50%; right: 40px; transform: translateY(-50%);
    a { border: 1px solid #e3eff7; border-radius: 4px; text-align: center; display: block; padding: 10px 14px; text-transform: uppercase; font-size: 14px; letter-spacing: 2px; color: #000;} 
    span { border: 1px solid #dce350; border-radius: 4px; text-align: center; display: block; padding: 10px 14px; text-transform: uppercase; font-size: 14px; letter-spacing: 2px; margin-bottom: 9px; } 
}
@media(max-width: 991px){
    .lang { position: static;transform: translate(0); padding: 0; margin: 0 auto 40px; max-width: 90%; } 
}

@import "_fonts";
@import "_index";
@import "_about";
@import "_ques";
@import "_gal";
@import "_single-gal";
@import "_docs";
@import "_news";
@import "_single-news";
@import "_contacts";
 
/*footer*/
footer { padding-bottom: 15px; }
.f {
    &-ttl { text-align: center; font-size: 24px; text-transform: uppercase; padding-top: 40px; letter-spacing: 6px; } 
    &-txt { font-size: 12px; text-transform: uppercase; padding-top: 37px; letter-spacing: 2px; } 
    &-logo { display: block; text-align: center; padding-top: 12px; } 
    &-last { text-align: right; font-size: 14px; padding-top: 35px; } 
    &-soc { padding-top: 42px; 
        a { display: inline-block; width: 29px; height: 29px; 
            &.in {background: url('../img/f-in.png')no-repeat 50% 50%; margin-right: 6px;}
            &.fb {background: url('../img/f-fb.png')no-repeat 50% 50%;}
            &:hover, &:focus {opacity: 0.5;}
        }
    } 
}

/*footer*/
@media(max-width: 1199px) and (min-width: 768px){
    .f {
        &-ttl { font-size: 20px; } 
        &-txt { font-size: 7px; } 
        &-last { font-size: 10px; }
    }
}
@media(max-width: 991px) {
    footer {text-align: center;}
    .f{
        &-last {text-align: center;}
    }
}


